
*{
  box-sizing: border-box;
  margin: 0;
 padding: 0;
}

body {
  margin: auto;
  max-width: 1024px;
  text-align: center;
}
/* top of page, and links*/
header{
  margin: 15px;
}
.name{
  margin-top: 20px;
}
ul {
  list-style: none;
  padding-left: 0;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
nav {
  font-family: "Roboto", Arial, Verdana;
  font-weight: 400;
  letter-spacing: .05em;
  padding: 25px;
}
h1, .top-nav {
  text-align: center;
}

.top-nav, .top-nav li {
  width: 100%;
}
.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.top-nav a {
  text-transform: uppercase;
}
.profile{
  margin: 10px;
  width: 250px;
}
/* center of page*/
.con{
  margin-top: 10px;
}
.container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.col {
  margin: 10px;
  margin-left: 20px;
  min-height: 250px;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}
.images{
  width: 100%;
}
/* footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}
.full {
  display: none;
}
.contact, p{
  margin-top: 15px;
  margin-bottom: 15px;
}
.con{
  margin-top: 100px;
}
.con, .out, .top, .col {
  margin-bottom: 15px;
}
.info{
  text-transform: capitalize;
}
/* media queries*/
@media (min-width: 768px) {
  header{
    display: flex;
    justify-content: space-between;
  }
  .profile{
    order: 1;
  }
  .ppage{
    text-align: left;
    font-size: 25px;
  }
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }
  .container {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex-basis: calc(50% - 40px);
}
.Top {
  display: none;
}
.full {
  display: inline-block;
  margin-left: 20px;
}
.out{
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 30px;
}
.info {
  font-size: 25px;
  padding-top: 25px;
  margin-bottom: 100px;
}
footer{
  display: flex;
  justify-content: space-between;
}
}
@media (min-width: 1024px) {

  .nav{
    display: flex;
    justify-content: space-between;
  }
.top-nav{
  text-align: right;
}
.profile{
  width: 350px;
  padding-left: 20px;
}

.ppage{
  font-size: 30px;
}
  .col {
   flex-basis: calc(33.333% - 40px);
 }

}
